.footer
  .footer-container
    .container.footer-content
      .row.m-b-lg
        .col-md-3
          .footer-list
            p 
              strong Molecular Science Corp
              br
              | 100 King St. W.
              br
              | Toronto ON MCX 1C9
        .col-md-3
          .footer-list
            ul
              li: a(href="#{aboutURL}.html") About Us
              li: a(href="#{scienceURL}.html") Cannabinoid Science
              li: a(href="#{geneticsURL}.html") Cannabis Genetics
              li: a(href="#{testingURL}.html") Analytical Testing Services
              li: a(href="#{contactURL}.html") Contact MSC

            p.social-links
              a.social-link(href="https://twitter.com/moreetcetera")
                img(src="img/icon-twitter.svg" alt="Twitter")
              a.social-link(href="https://www.instagram.com/msciencecorp/")
                img(src="img/icon-instagram.svg" alt="Instagram")
      span ©2017 Molecular Science Corp