#navbar.navbar
  .navbar-container
    .container
      .navbar-header
        .navbar-logo
          a(href="index.html"): img(src="img/msc-logo-horizontal.svg" alt="Molecular Science Corp")
        .navbar-toggle-container
          button.navbar-toggle(type="button" onclick="openNav()")
            span.ion.ion-android-menu
nav.navbar-collapse#navbar-nav.navbar-list-container
  a.navbar-closeToggle(href="javascript:void(0)" onclick="closeNav()")
    span.icon.ion.ion-android-close
  ol.navbar-list#primary-menu
    li.menu-item
      a.nav-link(href="index.html")
        span.nav-link-number 01
        | Home
    li.menu-item
      a.nav-link(href="#{aboutURL}.html")
        span.nav-link-number 02
        | About Us
    li.menu-item
      a.nav-link(href="#{scienceURL}.html")
        span.nav-link-number 03
        | Cannabinoid Science
    li.menu-item
      a.nav-link(href="#{geneticsURL}.html")
        span.nav-link-number 04
        | Cannabis Genetics
    li.menu-item
      a.nav-link(href="#{testingURL}.html")
        span.nav-link-number 05
        | Analytical Testing Services
    li.menu-item
      a.nav-link(href="#{contactURL}.html")
        span.nav-link-number 06
        | Contact MSC